fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
gunicorn
sqlalchemy
psycopg2-binary
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
